package components

templ Hero(heading string){
  <main class="w-full h-96 bg-zinc-50 flex justify-center items-center">
    <h1 class="text-4xl font-bold">{heading}</h1>
    <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
  </main>
}